/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Smooch+Sans:wght@500&display=swap');
* {
    margin: 0;
    border: 0;
}
body {
    font-family: Smooch Sans, sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1.2em;
    /* position: absolute; */
}

h1, h3 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: black;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

/* logo - sully's Kitchen */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
header a {
    text-decoration: none;
}

/* sub heading */
#sub-heading {
    color: black;
    letter-spacing: .2em;
    display: flex;
    justify-content: right;
}
/* menu buttons */
#menu li {

    display: inline-block;
    list-style: none;
}

#menu a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    text-transform: uppercase;
}

.active {
    border-bottom: 1px solid black;
}

#menu li a {
    transition: .3s ease 0s;
}
/* hover effect on navigation and footer */
#menu li:hover, #social li:hover{
    background-color: #209CEE;
    border-radius: 5%;
}

/* hero image */
#hero-image {
    background: url('../images/hero-image.jpeg') no-repeat center center; 
    height: 600px;
    width: 100%;
    background-size: cover;
}

#hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* footer */
footer{
    text-align: center;
    clear: both;
    padding-top: 1px;
}


#social li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 40px 60px;
    padding: 10px;
    font-size: small; 
}
/* footer color black */
#social a{
    color:black;
}

/* all h3 fonts */
h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 6px;
    margin-top: 30px;
    overflow: hidden;
}

/* all h2 fonts */
h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 6px;
    margin-top: 30px;
    overflow: hidden;
}
.f-menu{
    background-color: #F3F3F3;
}

.full-menu {
    margin-top: auto;
    text-align: center;
    margin: auto;
    padding: 10px 15px;
    background-color: rgb(38, 1, 1);
    border-radius: 5%;
    box-shadow: 5px 10px 8px 10px #888888;
    max-width: 150px;
}

.full-menu a {
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(221, 214, 214);

}
/* font awesome chilli color */
.fa-pepper-hot{
    color: rgb(167, 9, 9);
}

.full-menu:hover{
    background-color: rgb(66, 51, 51);
    cursor: pointer;
}
/* menu items */
#menu-curry {
    background-color: #F3F3F3;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 30px;
}
.our-menu{
    text-align: center;
    font-size: 1.5em;
    padding: 5px 0 20px 0;
}
.menu-left {
    width: 100%;
    text-align: center ;
    line-height: 2em;
    padding: 2% 5%;
    text-transform: capitalize;
    overflow: hidden;

}

.menu-right {
    width: 100%;
    text-align: center;
    line-height: 2em;
    padding: 2% 5%;
    text-transform: capitalize;

}

/* adjust price layout */
.menu-right span {
    float: right;
}

.menu-left span {
    float: right;
}
/* more menu */
#more-menu {
    box-sizing: border-box;
    display: flex;
    height: 50vh;
    width: 100%;
    border-bottom: 2px solid #F3F3F3;
    
}

/* price color for all the menu */
.menu-right span, .menu-left span{
    font-weight: bolder;
    letter-spacing: .1em;
}

/* side order menu */
.side-order {
    height: 50vh;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    padding-top: 2%;
    height: auto;
}
.side-order li {
    padding-top: 2%;
    list-style: none;
    text-align: start;
}
.side-order span {
    padding-right: 10%;
    float: right;
}


/* sign up form */
#user {
    clear: left;
    background-color: #F3F3F3;
    background-size: cover;
    background-position: center;
    height: 610px;
    overflow: hidden;

}

.signup-form {
    margin: 20px 85px;
    max-width: 400px;
    padding: 40px;
    float: left;
    border: 4px solid black;
    box-shadow: 5px 10px 8px 10px #888888;
    background: rgba(221,214,214,0.9);
}
.signup-form label {
    display: block;
    letter-spacing: .2em;
    margin-top: 2em;
    font-size: 1.2em;
    color: rgb(38, 1, 1);
}

.user-input {
    width: 90%;
    border: 2px solid  rgb(38, 1, 1);
    border-radius: 1%;
    background: transparent;
    line-height: 2em;
}
.user-input:hover {
    border: 2px solid #888888;
}
/* sign up button */
.signup {
    margin-top: 30px;
    margin-left: 60px;
    background-color: rgb(38, 1, 1);
    padding: 20px 80px;
    border-radius: 5px;
    font-size: 1.2em;
    color: rgb(221, 214, 214);
    text-transform: uppercase;
    overflow: hidden;
}

.signup:hover{
    background-color: rgb(66, 51, 51);
    cursor: pointer;
}
/* find us section */
#find-us {
    height: 450px;
    width: 100%;
    display: flex;
    padding-top: 50px;
}
.map {
    height: 100%;
    width: 100%;
}
.map iframe {
    height: 100%;
    width: 100%;
}

.meet-us {
    height: 100%;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgb(221, 214, 214);
    border-bottom: 1px solid rgb(221, 214, 214);
}

.meet-us h2 {
    margin-top: 8%;
    font-size: 1.5em;
}
.meet-us p {
    margin: 30px 10px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/* meet us section */
.pitch-us {
    float: right;
    height: 100%;
    width: 100%;
    background-color: #F3F3F3;
}

.pitch-us h2{
    font-size: 1.5em;
    margin-left: 0;
    margin-top: 8%;
}
.pitch-us form{
    margin-left: 40px;
}
.pitch-us label {
    display: block;
    letter-spacing: .1em;
    line-height: 1.5em; 
    margin-top: 10px;
}

.pitch-us input{
    width: 60%;
    height: 2em;
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
}
.pitch-us input:hover{
    border: 2px solid #888888;
}
.pitch-us textarea{
    width: 60%;
    height: 60px;
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
}

.pitch-us textarea:hover{
    border: 2px solid #888888;
}

.pitch-us .submit {
    margin-top: 10px;
    width: 60%;
    background-color: rgb(38, 1, 1);
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    color: rgb(221, 214, 214);
    text-transform: uppercase;
    overflow: hidden;
}

.submit:hover{
    background-color: rgb(66, 51, 51);
    cursor: pointer;
}
/* about us page */
#about-us {
    background-color: #F3F3F3;
    box-sizing: border-box;
    display: flex;
    height: 60vh;
    width: 100%;
    justify-content: space-between;
}

.about-company p {
    line-height: 1.2em;
    text-transform: capitalize;
    padding: 2% 5% 0 5%;
    text-align: justify;
}

.we-do li {
    padding-top: 2%;
    line-height: 1.2em;
    text-transform: capitalize;
    list-style: none;
    text-align: center;    
}

.about-company {
    height: 100%;
    width: 55%;
    overflow: auto;
}

.we-do {
    height: 100%;
    width: 35%;

}

/* gallery */
#gallery {
    padding: 30px 0;
}
#gallery h2 {
    margin: 2%;
    font-size: 1.5em;
}

#gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#gallery ul li {
    height: 40vh;
    width: 33%;
    list-style: none;
    margin-top: 10px;
}

#gallery ul li img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

/* opening hours */
#opeing-hours{
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    width: 80%;
    text-transform: uppercase;
}
    
#opeing-hours th, td {
    border: 2px solid grey;
    padding: 5px;
}

/* media query */
@media screen and (max-width: 935px){
    #menu-curry{
        flex-direction: column;
    }
    .menu-right, .menu-left{
        padding: 0;
    }
}

/* sub heading move to left */
@media screen and (max-width: 1049px) {
    #sub-heading {
        justify-content:left;
    }
    #menu li{
        justify-content:center;
        display:block;
    }
    #logo, #sub-heading{
        padding-left: 9%;
    }
}
/* screen size smaller than 720px */
  @media screen and (max-width: 720px) {

    #menu li{
        justify-content: center;
        display: inline-flex;
        padding-top: 20px;
    }
    header {
        display: inline;
    
    }
    /* more menu */
    #more-menu{
        flex-direction: column;
        height: auto;
    }
    side-order {
        height: 100%;
    }
    
/* media query for find us */
    #find-us {
        height: 100%;
        width: 100%;
        display: inline;
        padding-top: 50px;
    }

    .meet-us, .map, .pitch-us {
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .map {
        padding-top: 50px
    }
    /* footer */
    #social li {
        padding: 2px;
        margin: 10px;
    }

    .signup {
        padding: inherit;
    }

    #menu-curry{
        flex-direction: column;
    }

    .signup-form{
        margin: 20px 10px;
    }

    #user{
        height: 630px;
    }

    #about-us {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
    }

    .we-do {
        height: 50%;
        width: 55%;
        overflow: auto;
    }

    /* gallery under 720px */
    #gallery ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #gallery ul li {
        height: 40vh;
        width: 95%;
        list-style: none;
        margin: auto;
    }

    /* opening hours */
    #opeing-hours {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
/* media screen for 325px or less */
@media screen and (max-width: 405px) {
    #menu li{
      justify-content: center;
      display: block;   
    }
    /* footer */
    #social li {
        font-size:.4em
    }
}
