/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Smooch+Sans:wght@500&display=swap');
* {
    margin: 0;
    border: 0;
    overflow: auto;
}
body {
    font-family: Smooch Sans, sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1.2em;
}

h1, h3 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: black;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

/* logo - sully's Kitchen */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
header a {
    text-decoration: none;
}

/* sub heading */
#sub-heading {
    color: black;
    letter-spacing: .2em;
    display: flex;
    justify-content: right;
}
/* menu buttons */
#menu li {

    display: inline-block;
    list-style: none;
    overflow: hidden;
}

#menu a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    text-transform: uppercase;

}

.active {
    border-bottom: 1px solid black;
}

#menu li a {
    transition: .3s ease 0s;
}

#menu li a:hover{
    text-decoration: underline;
}

/* hero image */
#hero-image {
    background: url('../images/hero-image.jpeg') no-repeat center center; 
    height: 600px;
    width: 100%;
    background-size: cover;
}

#hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* footer */
footer{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    clear:both
}


#social li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 40px 60px;
}
/* footer color black */
#social a{
    color:black;
}

h4 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 6px;
    margin-top: 30px;
    overflow: hidden;
}
.full-menu {
    border: 2px solid black;
    margin-top: auto;
    justify-content: center;
    text-align: center;
    align-self: center;
    padding: 10px 15px;
    width: 20%;
    background-color: rgb(38, 1, 1);
    border-radius: 5%;
    box-shadow: 5px 10px 8px 10px #888888;
}

.full-menu a {
    text-align: center;
    justify-content: center;
    color:red;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(221, 214, 214);

}

.full-menu:hover{
    background-color: rgb(66, 51, 51);
    cursor: pointer;
}
/* menu items */
#menu-curry {
    background-color: #F3F3F3;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}
.our-menu{
    text-align: center;
    font-size: 1.5em;
    padding: 5px 0 20px 0;
}
.menu-left {
    width: 100%;
    text-align: center ;
    line-height: 2em;
    padding: 2% 5%;
    text-transform: capitalize;
    overflow: hidden;

}

.menu-right {
    width: 100%;
    text-align: center;
    line-height: 2em;
    padding: 2% 5%;
    text-transform: capitalize;

}
/* more menu */
#more-menu {
    box-sizing: border-box;
    display: flex;
    height: 50vh;
    width: 100%;
    border-bottom: 2px solid #F3F3F3;
    
}

/* side order menu */
.side-order {
    height: 50vh;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    padding-top: 2%;
  
}
.side-order li {
    padding-top: 2%;
    list-style: none;
    text-align: start;
}
.side-order span {
    padding-right: 10%;
    float: right;
}

/* sign up form */

#user {
    clear: left;
    background: url("..//images/form-image.jpeg");
    background-size: cover;
    background-position: center;
    height: 610px;
    overflow: hidden;

}

.signup-form {
    margin: 20px 85px;
    max-width: 400px;
    padding: 40px;
    float: left;
    border: 4px solid black;
    box-shadow: 5px 10px 8px 10px #888888;
    background: rgba(221,214,214,0.7);
    
}
.signup-form label {
    display: block;
    letter-spacing: .2em;
    margin-top: 2em;
    font-size: 1.2em;
    color: rgb(38, 1, 1);
}

.user-input {
    width: 90%;
    border: 2px solid  rgb(38, 1, 1);
    border-radius: 1%;
    background: transparent;
    line-height: 2em;
}
.user-input:hover {
    border: 2px solid green;
}
/* sign up button */
.signup {
    margin-top: 30px;
    margin-left: 60px;
    background-color: rgb(38, 1, 1);
    padding: 20px 80px;
    border-radius: 5px;
    font-size: 1.2em;
    color: rgb(221, 214, 214);
    text-transform: uppercase;
    overflow: hidden;
}

.signup:hover{
    background-color: rgb(66, 51, 51);
    cursor: pointer;
}
/* find us section */
#find-us {
    height: 80vh;
    width: 100%;
    display: flex;
    padding-top: 50px;
}
.map {
    height: 80vh;
    width: 100%;
}
.map iframe {
    height: 100%;
    width: 100%;
}

.meet-us {
    height: 80vh;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgb(221, 214, 214);
    border-bottom: 1px solid rgb(221, 214, 214);
}

.meet-us h4 {
    margin-top: 8%;
    font-size: 2em;
}
.meet-us p {
    margin: 30px 10px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.pitch-us {
    float: right;
    height: 80vh;
    width: 100%;
    background-color: #F3F3F3;
}

.pitch-us h4{
    font-size: 2em;
    margin-left: 0;
}
.pitch-us form{
    margin-left: 40px;
}
.pitch-us label {
    display: block;
    letter-spacing: .1em;
    line-height: 1.5em; 
    margin-top: 10px;
}

.pitch-us input{
    width: 60%;
    height: 2em;
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
}
.pitch-us input:hover{
    border: 2px solid green;
}
.pitch-us textarea{
    width: 60%;
    height: 60px;
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
}

.pitch-us textarea:hover{
    border: 2px solid green;
}

.pitch-us .submit {
    margin-top: 10px;
    width: 60%;
    background-color: rgb(38, 1, 1);
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    color: rgb(221, 214, 214);
    text-transform: uppercase;
    overflow: hidden;
}

.submit:hover{
    background-color: rgb(66, 51, 51);
    cursor: pointer;
}

#about-us {
    /* background: url('../images/about-us.avif') no-repeat center center;  */
    background-image: linear-gradient(90deg, rgba(199,116,0,0) 0%, rgba(20,43,42,1) 90%),
                        url("../images/about-us.avif");
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    height: 60vh;
    width: 100%;
    color: rgb(221, 214, 214);
    justify-content: space-between;
}

.about-company p {
    color: rgb(221, 214, 214);
    line-height: 1.2em;
    text-transform: capitalize;
    padding: 2% 5% 0 5%;
    text-align: justify;
}

.we-do li {
    padding-top: 2%;
    color: rgb(221, 214, 214);
    line-height: 1.2em;
    text-transform: capitalize;
    list-style: none;
    text-align: center;
 
    
}

.about-company {
    height: 100%;
    width: 55%;

}

.we-do {
    height: 100%;
    width: 35%;

}
/* opening hours */
#opeing-hours{
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    width: 80%;
    text-transform: uppercase;
}
    
#opeing-hours th, td {
    border: 2px solid grey;
    padding: 5px;
}


/* media querry */
/* sub heading move to left */
@media screen and (max-width: 930px) {
    #sub-heading {
        justify-content:left;
    }
    #menu li{
        justify-content:center;
        display:block;
    }
}
/* screen size smaller than 720px */
  @media screen and (max-width: 720px) {

    #menu li{
        justify-content:center;
        display:inline-flex;
        padding-top: 20px;
    }
    header {
        display:inline
    
    }
    #logo, #sub-heading{
        padding-left:9%;
    }
    #find-us {
     height: 100%;
    width: 100%;
    display: inline;
    padding-top: 50px;
    }
    .meet-us, .map, .pitch-us {
    height: 100%;
    width:100%;
    text-align: center;
    }
    .map {
        padding-top:50px
    }
    #social li {
     padding: 10px
    }
    .signup {
        padding:inherit;
    }
    #menu-curry{
        flex-direction: column;
    }
    .signup-form{
        margin: 20px 10px;
    }
    #user{
        height: 630px;
    }
}
